.recentActivities {
    width: 32%;
}

.recentActivities h4{
    margin: 0;
}

.recentActivities p {
    margin-top: 0.5rem;
    font-size: .7rem;
}

.activities {
    padding: 0.5rem 1rem;
    background: #f2f2f2;
}

.moreIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    background: #ffffff;
    gap: 0.3rem;
}

.moreIcon div {
    border: 1px solid #5439ed;
    border-radius: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 0.6rem;
    height: 0.6rem;
}

.moreIcon div span {
    display: inline-block;
    border-radius: 100%;
    width: 0.3rem;
    height: 0.3rem;
    background: #5439ed;
    outline: 1px solid #5439ed;
}